# Node
node_modules/
.pnpm-store/
.turbo/
dist/

# Logs
*.log

# Env
.env
.env.*
!.env.example

# Python
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*.tfvars
*.tfvars.json

# OS
.DS_Store
